body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1410px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1410px;
}
#u1 {
  position:absolute;
  left:2px;
  top:697px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:693px;
  top:468px;
  width:31px;
  height:27px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:27px;
}
#u2_img.mouseOver {
}
#u2.mouseOver {
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:739px;
  top:468px;
  width:31px;
  height:27px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:27px;
}
#u4_img.mouseOver {
}
#u4.mouseOver {
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:383px;
  top:324px;
  width:564px;
  height:86px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:86px;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
}
#u7 {
  position:absolute;
  left:2px;
  top:25px;
  width:560px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:970px;
  top:324px;
  width:564px;
  height:86px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:86px;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u9 {
  position:absolute;
  left:2px;
  top:25px;
  width:560px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:100px;
  top:17px;
  width:66px;
  height:66px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u11 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:100px;
  top:125px;
  width:80px;
  height:450px;
  overflow:hidden;
  visibility:hidden;
}
#u12_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:450px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u13_img.mouseOver {
  width:74px;
  height:74px;
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:76px;
  width:64px;
  height:64px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u15_img.mouseOver {
  width:74px;
  height:74px;
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:152px;
  width:64px;
  height:64px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u17_img.mouseOver {
  width:74px;
  height:74px;
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:228px;
  width:64px;
  height:64px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u19_img.mouseOver {
  width:74px;
  height:74px;
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:304px;
  width:64px;
  height:64px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u21_img.mouseOver {
  width:74px;
  height:74px;
}
#u21.mouseOver {
}
#u22 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:380px;
  width:64px;
  height:64px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u23_img.mouseOver {
  width:74px;
  height:74px;
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
