@charset "utf-8";
/* CSS Document */

body{
margin: 0px;
padding: 0px;
font-size: 12px;
background: #feda14;
font-family: Microsoft YaHei;
}

.projects{
	font-size: 62px;
	color:#000000;
	font-weight:bold;
}

.cooperation{
	font-size: 22px;
	color:#000000;
	font-weight:bold;
}

.word_position{
	position:relative;
	left:300px;
	top:50px;
}

.margin_top_10{
	position:relative;
	left:300px;
	top:100px;
}