body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1620px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1620px;
}
#u1 {
  position:absolute;
  left:2px;
  top:802px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:17px;
  width:66px;
  height:66px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u3 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:125px;
  width:80px;
  height:450px;
  overflow:hidden;
  visibility:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:450px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u5_img.mouseOver {
  width:74px;
  height:74px;
}
#u5.mouseOver {
}
#u6 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:76px;
  width:64px;
  height:64px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7_img.mouseOver {
  width:74px;
  height:74px;
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:152px;
  width:64px;
  height:64px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u9_img.mouseOver {
  width:74px;
  height:74px;
}
#u9.mouseOver {
}
#u10 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:228px;
  width:64px;
  height:64px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u11_img.mouseOver {
  width:74px;
  height:74px;
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:304px;
  width:64px;
  height:64px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u13_img.mouseOver {
  width:74px;
  height:74px;
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:380px;
  width:64px;
  height:64px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u15_img.mouseOver {
  width:74px;
  height:74px;
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
